<h1>Directivas estructurales</h1>
<hr>
<div id="principal">
    <div>
      <h1>Uso del if en angular</h1>
      @if(isVisible==true){
        <h2>El texto esta visible</h2>
      }@else {
        <h2>El texto esta oculto</h2>
      }
      <button (click)="toggle()">Mostrar / Ocultar texto</button>

      @if(isVisible==true){
        <p>Las directivas estructurales son aquellas </p>
        <p>utilizadas para cambiar el diseño del DOM</p>
        <p>básicamente cambian la estructura de la página</p>
        <p>Ejemplo de estas directivas son el if, for, switch</p>
      }

    </div>

    <div>
      <h1>Uso del fot en A ngular</h1>
      <h2>Lenguajes de Programación</h2>
      <ul>
        @for(item of lenguajes; track item){
            <li>{{item}}</li>
        }
        <input type="text" name="nuevo" [(ngModel)]="nuevo">
        <button (click)="addItem()">Agregar lenguaje</button>


      </ul>
    </div>

    <div>
      <h1>Uso del switch en Angular</h1>
      <h2>Selecciona tu Framework favorito</h2>

      <select [(ngModel)]="selectedOption">
        <option value="default">Selecciona una opción</option>
        <option value="angular">Angular</option>
        <option value="react">React</option>
        <option value="vue">Vue</option>

      </select>

      @switch(selectedOption){
        @case ('react') {
          <p>Has seleccionado React. <br> <br> Es una biblioteca creada por facebook</p>
        }
        @case ('angular') {
          <p>Has seleccionado Angular. <br> <br> Es un Framework de Google</p>
        }
        @case ('vue') {
          <p>Has seleccionado Vue. <br> <br> Es Framework progresivo que se centra en la vista </p>
        }
      }
    </div>
</div>